        body {
            font-family: "Open Sans", sans-serif;
            color: #5a17cf;
            background: url("./img/hng.png") top center no-repeat;
            background-size: inherit;
            position: relative;
          }

        
        .container {
            background: #dedfdf;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #5a17cf;
        }
        p {
            font-size: 1.2em;
        }
        a {
            color: #5a17cf;
            text-decoration: none;
            transition: color 0.3s;
        }
        a:hover {
            color: #950909;
        }

        .back-to-top {
            position: fixed;
            visibility: hidden;
            opacity: 0;
            right: 15px;
            bottom: 15px;
            z-index: 996;
            background: #ff0000;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            transition: all 0.4s;
          }
          
          .back-to-top i {
            font-size: 28px;
            color: #fff;
            line-height: 0;
          }
          
          .back-to-top:hover {
            background: #ff2929;
            color: #fff;
          }
          
          .back-to-top.active {
            visibility: visible;
            opacity: 1;
          }


